.form {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 100%;
}
.form-item {
  display: flex;
  flex-direction: column;
}
.input-item {
  height: 40px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.2em;
  display: block;
}
.lable {
  display: block;
  margin-bottom: 10px;
}
.fild {
  max-width: 33%;
}
.input-date {
}
::-webkit-inner-spin-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
.input-distance {
}
.input-button {
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 450px) {
  .input-item {
    font-size: 1em;
  }
  .lable {
    font-size: 0.7em;
  }
}
