.WordClock {
  max-width: 100%;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
}
.WordClock-row {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.ClockItem-row {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
