* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.ClockItem {
  position: relative;
  width: 150px;
  margin-top: 10px;
  margin-right: 20px;
}
.clockName {
  margin: 5px;
  margin-left: 10px;
}
.clock {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  background-image: url("./dial.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: black;
    z-index: 15;
  }
}

.hour {
  position: absolute;
  .hours {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 40px;
      background: crimson;
      z-index: 9;
      border-radius: 2px 2px 0 0;
    }
  }
}

.minute {
  position: absolute;
  .minutes {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 50px;
      background: gray;
      z-index: 10;
      border-radius: 1px 1px 0 0;
    }
  }
}
.second {
  position: absolute;
  .seconds {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 60px;
      background: green;
      z-index: 11;
      border-radius: 6px 6px 0 0;
    }
  }
}
.close {
  position: absolute;
  top: 3px;
  right: 5px;
  color: rgb(121, 95, 95);
  cursor: pointer;
  &:hover {
    color: rgb(146, 27, 27);
  }
}
